<div style="width: 100%;">
  <form class="example-form" style="margin: auto" (submit)="handleSubmit()" [formGroup]="form">
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Título</mat-label>
      <input matInput formControlName="title">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Autor</mat-label>
      <input matInput formControlName="author">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Contenido</mat-label>
      <textarea matInput formControlName="content" rows="10"></textarea>
    </mat-form-field>

    <button
      style="margin-top: 10px"
      mat-raised-button
      [disabled]="form.pristine || form.invalid || isLoading"
      color="primary">
      <span>Enviar</span>
    </button>
  </form>
</div>
