.example-card {
  margin-top: 10px;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: unset;
}

::ng-deep .mat-form-field-wrapper {
  padding-bottom: unset;
}
