<div class="row" style="align-items: center; margin-top: 10px;">
  <div class="column" style="flex: 6; margin-right: 15px">
    <mat-form-field appearance="outline" style="width: 100%;">
      <!--  <mat-label>Input</mat-label>-->
      <!--  <input matInput>-->
      <mat-icon matPrefix>search</mat-icon>
      <input #filter matInput placeholder="Buscar post">
    </mat-form-field>
  </div>

  <div class="column">
    <a mat-raised-button routerLink="new" color="primary">Agregar post</a>
  </div>
</div>


<ng-container *ngFor="let post of posts">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>{{ post.title }}</mat-card-title>
      <mat-card-subtitle>{{ post.author }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{ post.content }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a [routerLink]="['/posts', post.id]" mat-button>Ver mas...</a>
    </mat-card-actions>
  </mat-card>
</ng-container>

<mat-paginator [length]="total"
               [pageSize]="15"
               hidePageSize
               [pageIndex]="page - 1"
               (page)="setCurrentPage($event)"
               showFirstLastButtons
               aria-label="Select page">
</mat-paginator>
