<mat-toolbar color="primary">
  <span>Blog</span>
  <a mat-icon-button routerLink="/posts" class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>home</mat-icon>
  </a>
</mat-toolbar>
<div style="padding-right: 10px; padding-left: 10px">
  <router-outlet></router-outlet>
</div>
